/* COMMON */
.screen_out {
    overflow: hidden;
    text-indent: -9999px;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */
#header {
    position: relative;
    height: 125px;
}

#header .topmenu {
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#header .topmenu .top_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    font-size: 0.8em;
}

#header .topmenu .top_left li:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 16px;
    vertical-align: middle;
}

#header .topmenu .top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header .topmenu .top_right li {
    margin-right: 15px;
    font-size: 13px;
}

#header .topmenu .top_right li:nth-child(1),
#header .topmenu .top_right li:nth-child(2) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 16px;
    vertical-align: middle;
}

#header .topmenu .top_right li a {
    color: #848484;
}

#header .topmenu li img {
    margin-right: -10px;
}

#header .topmenu li select {
    width: 150px;
    height: 25px;
    padding: 0 10px;
    color: #848484;
}

#header .nav {
    display: flex;
    justify-content: center;
    z-index: 999;
    padding-left: 15px;
    height: 60px;
    padding: 20px 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transition: height .2s ease-in-out;
    overflow: hidden;
    border-bottom: 1px solid gray;
}

#header .nav:hover {
    height: 300px;
    margin: 0;
}

#header .nav.fix {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #EAEAEA;
}

#header .nav .logo {
    padding-right: 50px;
}

#header .nav .gnb {
    width: 900px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

#header .nav.mobile{
    flex-direction: column;
    overflow: visible;
}

#header .nav .gnb.mobile {
    background-color:#1D326C;
    position: fixed;
    right:0;
    top:0;
    flex-direction: column;  
    width:85%;
}

#header .nav .gnb.mobile>li{
    border-bottom:1px solid red;
    padding:20px;
    color:#fff;
}

#header .nav .gnb.mobile>li a{
    color:#fff;
}

#header .nav .gnb.mobile>li>ul{
    border:1px solid #fff;
    display:none;
    color:#fff;
}

#header .nav .gnb .menu_title li {}

#header .nav .gnb .menu_title ul {
    margin-top: 30px;
}

#header .nav .gnb .menu_title a {
    display: inline-block;
    color: #848484;
    font-weight: 500;
}

#header .nav .gnb .menu_title a span {
    font-weight: 700;
}

#header .nav .gnb .menu_title li a {
    padding: 10px 0;
    font-size: 13px;
}

/* FOOTER */
#footer {
    background-color: #262626;
    width: 100%;
    height: 250px;
}

#footer .sitemap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #818181;
}

#footer .sitemap li {
    margin-right: 30px;
    font-size: 0.8em;
    font-weight: 700;
}

#footer .sitemap li a {
    color: #818181;
}

#footer .footer_logo img {
    margin: 30px auto;
    display: block;
}

#footer .footer_info {
    width: 800px;
    margin: 0 auto;
    color: #818181;
    font-size: 0.7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.2rem;
}

#footer .footer_info li::after {
    content: "|";
    margin: 20px;
}

#footer .footer_info li:nth-child(3):after,
#footer .footer_info li:last-child::after {
    content: "";
}

#footer p {
    font-size: 0.7em;
    margin-top: 20px;
    color: #818181;
    text-align: center;
}