#header {
    margin: 0;
    padding: 0;
    height: 70px;
}

#header .logo {
    top: 40px;
}

#header .logo.fix {
    top: 10px;
}

#header .top_left {
    justify-content: left;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}

#header .top_left li:nth-child(1),
#header .top_left li:nth-child(2) {
    padding: 0 50px;
}

#header .top_wrap .top_left {
    width: 100%;
}

#header .nav {
    justify-content: space-between;
    height: 20px;
}

#header .nav:hover {
    height: 0px;
}

#header .nav .gnb .menu_title a span:before {
    display: none;
}

#header .nav .gnb .menu_title a span {
    display: none;
}

#header .top_wrap .top_right>ul:nth-child(2) li a {
    display: inline-block;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(1) a {
    background-image: url("../img/m_top_sns01.gif");
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(2) a {
    background-image: url("../img/m_top_sns02.gif");
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(3) a {
    background-image: url("../img/m_top_sns03.gif");
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(4) a {
    background-image: url("../img/m_top_sns04.gif");
}

/* =========== toggle ============ */

#header .top_wrap.toggle {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 80%;
    background-color: #1D326C;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 9999px, rgba(0, 0, 0, 0.2) 2px 2px 3px 3px;
    z-index: 999;
}

#header .top_wrap .close_btn.toggle {
    background: url('../img/m_nav_close.png');
    width: 19px;
    height: 20px;
    position: fixed;
    top: 8px;
    left: 17%;
    z-index: 999;
}

#header .top_wrap .toggle_btn {
    background: url('../img/m_nav_btn.gif');
    width: 26px;
    height: 22px;
    position: fixed;
    top: 38px;
    right: 10px;
    z-index: 999;
    border: 1px solid red;
}

#header .top_wrap .toggle_btn.toggle {
    display: none;
}

#header .top_wrap .toggle_btn.fix {
    top: 10px;
}

#header .top_wrap .top_right {
    visibility: hidden;
}

#header .top_wrap .top_right.toggle {
    visibility: visible;
    justify-content: space-between;
    background-color: #1D326C;
    position: fixed;
    right: 0;
    top: 0;
    height: 50px;
    width: 80%;
    padding: 0 20px;
    z-index: 999;
}

#header .top_wrap .top_right.toggle>ul:nth-child(1) {
    justify-content: left;
    width: 60%;
    margin: 0;
    padding: 0;
}

#header .top_wrap .top_right li a {
    color: #fff;
    padding: 5px 0;
}

#header .top_wrap .top_right.toggle>ul:nth-child(2) {
    justify-content: flex-end;
    width: 30%;
    margin-right: 0;
    padding: 0;
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(4) {
    margin: 0;
}

#header .top_wrap li select {
    display: none;
}

#header .gnb.toggle {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50px;
    width: 80%;
    font-size: 0.9rem;
    opacity: 1;
}

#header .nav .gnb.toggle>li {
    border-top: solid 1px #344a86;
    border-bottom: solid 1px #203570;
    background-color: #1D326C;
}

#header .nav .gnb.toggle .menu_title a span {
    display: block;
    color: #fff;
}

#header .nav .gnb.toggle>li a {
    padding: 20px;
    width: 100%;
    height: 100%;
}

#header .nav .gnb.toggle .menu_title li {
    border-top: solid 1px #344a86;
    border-bottom: solid 1px #203570;
}

#header .nav .gnb.toggle>li a {
    color: #fff;
}

#header .nav .gnb.toggle>li>ul {
    display: none;
    color: #fff;
    background-color: rgb(42, 65, 129);
    margin: 0;
}

#header .nav .gnb.toggle>li>ul.on {
    display: block;
}