/* COMMON */
.screen_out {
    overflow: hidden;
    text-indent: -9999px;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */
#header {
    position: relative;
    padding-top: 20px;
    height: 110px;
}

#header .top_left {
    display: flex;
    justify-content: center;
    width: 35%;
    font-size: 0.75em;
    font-weight: 900;
    height: 30px;
    align-items: center;
}

#header .top_left li:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 16px;
}

#header .top_left li:nth-child(2) {
    padding-left: 16px;
}

#header .logo {
    position: fixed;
    top: 70px;
    left: 0;
    width: 25%;
    z-index: 999;
    text-align: right;
    margin-left: 20px;
}

#header .logo.fix {
    top: 18px;
}

#header .top_wrap .top_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 65%;
    position: absolute;
    right: 0;
    top: 20px;
}

#header .top_wrap .top_right>ul:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 30px;
    align-items: center;
}

#header .top_wrap .top_right>ul:nth-child(1) li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    font-size: 0.8rem;
    padding-right: 16px;
}

#header .top_wrap .top_right>ul:nth-child(1) li:last-child {
    border: 0;
    padding-right: 0;
}

#header .top_wrap .top_right>ul:nth-child(2) {
    display: flex;
    width: 50%;
}

#header .top_wrap .top_right>ul:nth-child(2) li {
    margin-right: 5px;
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(4) {
    margin-right: 15px;
}

#header .top_wrap .top_right>ul:nth-child(2) li a {
    display: inline-block;
    width: 22px;
    height: 22px;
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(1) a {
    background-image: url("../img/top_sns01.gif");
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(2) a {
    background-image: url("../img/top_sns02.gif");
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(3) a {
    background-image: url("../img/top_sns03.gif");
}

#header .top_wrap .top_right>ul:nth-child(2) li:nth-child(4) a {
    background-image: url("../img/top_sns04.gif");
}

#header .top_wrap .top_right li a {
    color: #848484;
}

#header .top_wrap li select {
    width: 150px;
    height: 25px;
    padding: 0 10px;
    color: #848484;
}

#header .nav {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    height: 60px;
    padding: 20px 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transition: height .2s ease-in-out;
    overflow: hidden;
    border-bottom: 1px solid gray;
    z-index: 10;
}

#header .nav:hover {
    height: 300px;
    margin: 0;
}

#header .nav.fix {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #EAEAEA;
}

#header .nav .gnb {
    width: 900px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    position: absolute;
    margin-left: 120px;
}

#header .nav .gnb .menu_title ul {
    margin-top: 30px;
}

#header .nav .gnb .menu_title a {
    display: inline-block;
    color: #848484;
    font-weight: 500;
}

#header .nav .gnb .menu_title li a {
    padding: 10px 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6)
}

#header .nav .gnb .menu_title li a:hover {
    color: rgba(0, 0, 0, 1)
}

#header .nav .gnb li a:hover span:before{
    transform: scaleX(1);
}

#header .nav .gnb .menu_title a span {
    font-weight: 700;
    /* display: block; */
    font-size: 15px;
    color: #333;
    position: relative;
}

#header .nav .gnb .menu_title a span:before{
    content: "";
    position: absolute;
    left: -1px;
    bottom: -10px;
    /* 부모의 넓이만큼 */
    width: calc(100% + 2px);
    height: 3px;
    background-color: #000;
    transform-origin: 50%;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

/* content */
#container .bold {
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}

#container .line {
    width: 100px;
    background: black;
    height: 1px;
    margin: 0 auto;
}

/* MAIN BANNER */
#container .banner {
    position: relative;
    overflow: hidden;
}

#container .banner .slide_banner {
    width: 300%;
    display: flex;
}

#container .banner button {
    border: 0px;
}

#container .banner .btn_prev {
    position: absolute;
    top: 250px;
    left: 50px;
    height: 100px;
    background: url('../img/main_visual_prev.png');
    width: 24px;
    height: 45px;
}

#container .banner .btn_next {
    position: absolute;
    top: 250px;
    right: 50px;
    height: 100px;
    background: url('../img/main_visual_next.png');
    width: 24px;
    height: 45px;
}

/* DREAM FACTORY BANNER */
#container .dream_factory {
    background-image: url('../img/dream_factory_bg.gif');
    height: 450px;
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

#container .dream_factory .dream_factory_text {
    margin: 0 auto;
}

#container .dream_factory .dream_factory_text p:nth-child(2) {
    font-size: 30px;
    margin-top: 20px;
}

#container .dream_factory .dream_factory_text p:nth-child(3) {
    margin-top: 30px;
    width: 35%;
    line-height: 1.3rem;
}

#container .dream_factory img {
    width: 1063px;
    position: absolute;
    right: -160px;
    bottom: 0px;
}

#container em {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url('../img/dream_factory_txt.png');
    width: 1036px;
    height: 87px;
    display: block;
    text-indent: -9999px;
}

#container .dream_factory p,
em,
button {
    color: white;
}

#container .dream_factory button {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 40px;
    margin-right: 10px;
    border: 1px solid #fff;
    padding: 0;
}

#container .dream_factory button a {
    display: block;
    width: 200px;
    line-height: 45px;
    color: white;
}

#container .dream_factory button a:hover {
    background-color: #fff;
    color: rgb(5, 46, 107);
}

/* MENU BANNER */
#container .menu_banner {
    height: 800px;
    background: #bbe5fb;
    background: url('../img/block02_bg_ani.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    position: relative;
}

#container .menu_banner .bold {
    color: #243c86;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
}

#container .menu_banner P:nth-child(1) {
    font-size: 40px;
    text-align: center;
    padding-top: 80px;
    font-weight: 200;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 40px;
}

#container .menu_banner P:nth-child(3) {
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

#container .menu_banner button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: block;
    background-color: rgba(0, 0, 0, 0);
    margin: 40px 0;
    border: 1px solid #243C86;
    padding: 0;
}

#container .menu_banner button a {
    width: 200px;
    line-height: 45px;
    display: block;
    color: #243C86;
    font-size: 1.1em;
}

#container .menu_banner button a:hover {
    color: #fff;
    background-color: #243C86;
}

#container .menu_banner .ani_object01 {
    position: absolute;
    top: 0;
    width: 50%;
    height: 800px;
}

#container .menu_banner .ani_object02 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 800px;
}

@keyframes ani1 {
    from {}

    to {
        top: 40px;
        left: 200px;
    }
}

#container .menu_banner .ani_object01 img,
#container .menu_banner .ani_object02 img {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#container .menu_banner .ani_object01 img:nth-child(1) {
    top: 45px;
    left: 200px;
    animation-name: ani1;
    animation-duration: 1s;
}

@keyframes ani2 {
    from {}

    to {
        top: 140px;
        left: 310px;
    }
}

#container .menu_banner .ani_object01 img:nth-child(2) {
    top: 150px;
    left: 310px;
    animation-name: ani2;
    animation-duration: 1.1s;
    animation-direction: alternate-reverse;
}

@keyframes ani3 {
    from {}

    to {
        top: 280px;
        left: 370px;
    }
}

#container .menu_banner .ani_object01 img:nth-child(3) {
    top: 290px;
    left: 370px;
    animation-name: ani3;
    animation-duration: 1.2s;
    animation-direction: alternate;
}

@keyframes ani4 {
    from {}

    to {
        top: 180px;
        right: -140px;
    }
}

#container .menu_banner .ani_object02 img:nth-child(1) {
    top: 170px;
    right: -140px;
    animation-name: ani4;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
}

@keyframes ani5 {
    from {}

    to {
        top: 40px;
        right: 380px;
    }
}

#container .menu_banner .ani_object02 img:nth-child(2) {
    top: 50px;
    right: 380px;
    animation-name: ani5;
    animation-duration: 1.1s;
    animation-direction: alternate;
}

@keyframes ani6 {
    from {}

    to {
        top: 195px;
        right: 120px;
    }
}

#container .menu_banner .ani_object02 img:nth-child(3) {
    top: 200px;
    right: 120px;
    animation-name: ani6;
    animation-duration: 1.2s;
    animation-direction: alternate-reverse;
}

@keyframes ani7 {
    from {}

    to {
        top: 145px;
        right: 70px;
    }
}

#container .menu_banner .ani_object02 img:nth-child(4) {
    top: 140px;
    right: 70px;
    animation-name: ani7;
    animation-duration: 1s;
    animation-direction: alternate;
}

/* FRANCHISE BANNER */
#container .franchise {
    background: url('../img/company_bg.jpg');
    background-position: top;
    height: 460px;
    position: relative;
    width: 100%;
}

#container .franchise .franchise_info {
    color: white;
    width: 45%;
    text-align: center;
    position: absolute;
    right: 100px;
    top: 100px;
}

#container .franchise .franchise_info p:nth-child(1) {
    font-size: 2.7rem;
    width: 550px;
    margin: 0 auto;
}

#container .franchise .franchise_info p:nth-child(2) {
    line-height: 25px;
    width: 350px;
    margin: 40px auto;
    text-align: left;
}

#container .franchise .franchise_info button {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 40px;
    margin-right: 10px;
    border: 1px solid #fff;
    padding: 0;
}

#container .franchise .franchise_info button a {
    color: #fff;
    width: 200px;
    display: block;
    line-height: 45px;
}

#container .franchise .franchise_info button a:hover {
    color: #3C3C3C;
    background-color: #fff;
}

/* CULTURE LAB BANNER */
#container .culture_lab {
    width: 100%;
    background-image: url('../img/block03_bg.jpg');
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 800px;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

#container .culture_lab>p:nth-child(1) {
    font-size: 40px;
    padding-top: 100px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
}

#container .culture_lab>p:nth-child(2) {
    font-size: 25px;
    margin-top: 30px;
}

#container .culture_lab .culture_lab_line {
    background-image: url('../img/block03_line.png');
    background-position: center center;
    width: 100%;
    height: 178px;
    margin-top: 160px;
}

#container .culture_lab ul {
    display: flex;
    justify-content: space-around;
    width: 950px;
    margin: 0 auto;
    margin-top: -60px;
}

#container .culture_lab ul li {
    width: 33.3333%;
    float: left;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes icon1_ani {
    from {}

    to {
        margin-top: -10px
    }
}

#container .culture_lab .icon1:hover {
    animation-name: icon1_ani;
}

#container .culture_lab .icon2 {
    margin-top: -70px;
}

@keyframes icon1_an2 {
    from {}

    to {
        margin-top: -80px;
    }
}

#container .culture_lab .icon2:hover {
    animation-name: icon1_an2;
}

#container .culture_lab .icon3 {}

@keyframes icon1_an3 {
    from {}

    to {
        margin-top: -10px
    }
}

#container .culture_lab .icon3:hover {
    animation-name: icon1_an3;
}

#container .culture_lab_icon a p {
    font-size: 1rem;
    margin-top: 20px;
    color: #fff;
    transition: all .5 linear;
}

/* COFFEE LAB BANNER */
#container .coffee_lab {
    color: #3C3C3C;
    text-align: center;
}

#container .coffee_lab>p:nth-child(1) {
    font-size: 40px;
    margin-top: 100px;
    font-weight: 200;
    font-family: 'Nunito Sans', sans-serif;
}

#container .coffee_lab>p:nth-child(2) {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 80px;
}

#container .coffee_lab .coffee_lab_img {
    height: 40vw;
    position: relative;
    width: 60%;
    margin: 80px auto;
}

#container .coffee_lab .coffee_lab_img .back_img1 {
    background-color: #fff;
    position: relative;
    left: 0;
    z-index: 1;
    transition: transform .3s linear;
    overflow: hidden;
    width: 53%;
    height: auto;
}

#container .coffee_lab .coffee_lab_img .back_img1 img {
    transition: transform .5s linear;
    width: 100%;
    vertical-align: top;
}

#container .coffee_lab .coffee_lab_img .back_img1 img:hover {
    transform: scale(1.05);
}

#container .coffee_lab .coffee_lab_img .back_img1 p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 0px solid #fff;
    transition: all.3s linear;
    font-family: 'Nunito Sans', sans-serif;
}

#container .coffee_lab .coffee_lab_img .back_img1:hover p {
    border-bottom: 8px solid #fff;
}

#container .coffee_lab .coffee_lab_img .back_img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform .3s linear;
    overflow: hidden;
    width: 53%;
    box-sizing: border-box;
}

#container .coffee_lab .coffee_lab_img .back_img2 img {
    transition: all .5s linear;
    width: 100%;
    height: auto;
}

#container .coffee_lab .coffee_lab_img .back_img2 img:hover {
    transform: scale(1.05);
}

#container .coffee_lab .coffee_lab_img .back_img2 p {
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 0px solid #fff;
    transition: all .3s linear;
    transform: translate(-50%);
    font-family: 'Nunito Sans', sans-serif;
}

#container .coffee_lab .coffee_lab_img .back_img2:hover p {
    border-bottom: 8px solid #fff;
}

#container .coffee_lab .coffee_lab_line {
    width: 130px;
    height: 6px;
    background-color: #fff;
    margin: 0 auto;
}

/* INFO BANNER */
#container .info {
    margin: 0 auto;
    width: 1190px;
    color: #fff;
    box-sizing: border-box;
}

#container .info::after {
    content: "";
    display: block;
    clear: both;
}

#container .info>div {
    float: left;
    box-sizing: border-box;
    height: 300px;
}

#container .info .title {
    font-size: 25px;
    margin-top: 30px;
}

#container .info .line {
    background: #fff;
    margin: 30px 0;
    width: 50px;
}

#container .info .franchise_open {
    background-image: url('../img/main_franchise_bg.jpg');
    width: 28%;
    margin-right: 1%;
    padding-left: 30px;
}

#container .info .store_search {
    background-image: url('../img/main_store_bg.jpg');
    background-position: center;
    width: 28%;
    padding-left: 30px;
    margin-right: 1%;
    box-sizing: border-box;
}

#container .info .store_search input {
    margin-top: 40px;
    width: 85%;
    height: 40px;
    background-color: #1C3269;
    border: 3px solid #fff;
    color: #fff;
    padding-left: 20px;
    margin: 40px auto;
}

#container .info .main_news {
    width: 42%;
    height: 300px;
    position: relative;
}

#container .info .main_news .notice_title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000;
    font-weight: 600;
    padding: 0 10px;
}

#container .info .main_news .notice_wrap dl {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

#container .info .main_news .notice_wrap dt a {
    display: block;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
}

#container .info .main_news .notice_wrap dt a:hover {
    color: rgba(0, 0, 0, 1);
}

#container .info .main_news .notice_wrap dl dd {
    font-size: 0.8rem;
    padding-top: 10px;
}

#container .info .main_news .brochure {
    background-color: #CBC3B2;
    height: 100px;
    position: relative;
    display: block;
    font-size: 1.5em;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}

#container .info .main_news .brochure a {
    color: #fff;
}

#container .info .main_news .brochure img {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* SNS BANNER */
#container .sns {
    text-align: center;
    font-size: 1.5em;
}

#container .sns p:nth-child(1) {
    margin: 50px 0 30px 0;
    font-weight: 900;
    color: #3C3C3C;
    font-family: 'Nunito Sans', sans-serif;
}

#container .sns p:nth-child(3) {
    margin: 30px 0 40px 0;
    color: #7B7B7B;
    font-family: 'Nunito Sans', sans-serif;
}

#container .sns .sns_img {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 1180px;
    justify-content: space-between;
    margin-bottom: 100px;
}

#container .sns .sns_img li {
    width: 19.5%;
    box-sizing: border-box;
}

#container .sns .sns_img img {
    width: 100%;
}

/* slider 부분 */
.banner .bx-wrapper {
    border: 0;
    margin-bottom: 0;
}

.banner .bx-wrapper .bx-controls-direction a {
    z-index: 99;
}

.banner .bx-wrapper .bx-next {
    background: url('../img/main_visual_next.png');
    width: 24px;
    height: 45px;
}

.banner .bx-wrapper .bx-prev {
    background: url('../img/main_visual_prev.png');
    width: 24px;
    height: 45px;
}

.banner .bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    bottom: 30px;
}

/* FOOTER */
#footer {
    background-color: #262626;
    width: 100%;
    height: 250px;
}

#footer .sitemap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #818181;
}

#footer .sitemap li {
    margin-right: 30px;
    font-size: 0.8em;
    font-weight: 700;
}

#footer .sitemap li a {
    color: #818181;
}

#footer .footer_logo img {
    margin: 30px auto;
    display: block;
}

#footer .footer_info {
    width: 800px;
    margin: 0 auto;
    color: #818181;
    font-size: 0.7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.2rem;
}

#footer .footer_info li::after {
    content: "|";
    margin: 20px;
}

#footer .footer_info li:nth-child(3):after,
#footer .footer_info li:last-child::after {
    content: "";
}

#footer p {
    font-size: 0.7em;
    margin-top: 20px;
    color: #818181;
    text-align: center;
}